<h1>Create item</h1>

<form method="POST" action="/item/">

  <input type="text" value="" placeholder="Name of dish" name="foodName" />

  <input type="number" value="" placeholder="Price of dish" name="price" />

  <input type="text" value="" placeholder="Scale from 1-5 5 being the best!" name="review" />

  <input type="submit" value="Create Item" />

</form>

<a href="/item">
<button>Back to all items</button>
</a>