

<h1> Choose the restaurant</h1>


<select name="restaurantId" onchange="location = this.value;">

    
   {{#each allRestaurants}}
  
   <option value="new/{{_id}}" {{#if selected}} selected
   {{/if}}>{{name}}</option>
   {{/each}}


  </select>

