<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Restaurant App</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
<header> 
  <nav class="navbar">
    <ul class="navbarOptions">
      <li>
    <a class="brand" href="/">
    <img src="https://github.com/epenn92/Project-2/blob/master/images/brand.png?raw=true">
    </a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/restaurant">Restaurants</a></li>
    <li><a href="/menu">Menus</a></li>
    <li><a href="/item">Food Items</a></li>
    <li><a href="#">Top Rated</a></li>
    <li><a href="#">Contact Us</a></li>
    
    </ul>
  </nav>
</header>

<div class="content">
    <!--
      This is a place holder for the contents of the .hbs file that is
      rendered.
    -->
    {{{body}}}


</div>
<footer>
  <nav class="footerNavbar">
  <ul class="footerNavbarOptions">
<li><p class="thanks">Thanks for visiting</p></li>
<li class="socialMedia">
  <button class="icon"><a href="" class="fa fa-twitter"></a></button>
  <button class="icon"><a href="" class="fa fa-facebook"></a></button>
  <button class="icon"><a href="" class="fa fa-linkedin"></a></button>
  <button class="icon"><a href="" class="fa fa-github"></a></button>
  <button class="icon"><a href="" class="fa fa-rss"></a></button>
  </li>
  <li><p class="followUs">Follow us</p></li>
    </ul>
  </nav>
</footer>
</body>
</html>
