<h1>Create restaurant</h1>

<form method="POST" action="/restaurant/">

  <input type="text" value="" placeholder="Restaurant" name="name" />

  <input type="text" value="" placeholder="Address" name="location" />

  <input type="date" value="" name="operationDays" />

  <input type="boolean" value="" placeholder="Open now?" name="isOpen" />

  <input type="text" value="" placeholder="Price Range" name="priceRange" />

  <input type="submit" value="Create Restaurant" />

</form>

<a href="/restaurant">
<button>Back to all restaurants</button>
</a>
<a href="/">
<button>Back to landing page</button>
</a>