<body class="restaurantPage">

<h1>Create restaurant</h1>

<form method="POST" action="/restaurant/">

  <input type="text" value="" placeholder="Restaurant" name="name" />

  <input type="text" value="" placeholder="Address" name="location" />

  <input type="date" value="" name="operationDays" />

  <input type="boolean" value="" placeholder="Open now?" name="isOpen" />

  <input type="text" value="" placeholder="Price Range" name="priceRange" />

  <select name="rating">
    <option value="">None</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <input type="text" value="" placeholder="Link to logo" name="logo"/>

  <input type="submit" value="Create Restaurant" />

</form>



</body>