<body class="menuPage">

<h1>Create menu</h1>

<form method="POST" action="/menu/">

  <input type="text" value="" placeholder="How big is the menu?" name="size" />

  <input type="text" value="" placeholder="Breakfast, lunch, or dinner menu?" name="time" />

  <input type="text" value="" placeholder="What type of menu?" name="type" />

  <input type="boolean" value="" placeholder="Do they serve alcohol?" name="alcoholAvailable" />
  {{!-- <label for=""></label> --}}
  <select name="restaurantId" >
    <option value="">None</option>
{{#each allRestaurants}}
<option value="{{_id}}">{{name}}</option>
{{/each}}
</select>
  <input type="submit" value="Create Menu" />

</form>

</body>