<body class="menuPage">
<div class="singleMenu">
<div class="singleMenuItems">

<h1>Create A New Menu</h1>

<form class="menuForm" method="POST" action="/menu/">
<table class="singleTable">
  
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
  <td><h4><span>Menu Size:</span></h4></td>
  <td><h4>   
 <select name="size">
    <option value="small">Small</option>
    <option value="Medium">Medium</option>
    <option value="Large">Large</option>
  </select>
  </h4></td></tr>

 <tr>
  <td><h4><span>Breakfast, Lunch, or Dinner Menu?</span></h4></td>
  <td><h4>   
   <select name="type">
    <option value="breakfast">Breakfast</option>
    <option value="Lunch">Lunch</option>
    <option value="Dinner">Dinner</option>
  </select>
  </h4></td></tr>

 <tr>
  <td><h4><span>Alcohol Served?</span></h4></td>
  <td><h4>   
 <select name="alcoholAvailable">
    <option value="">Not Sure</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  </h4></td></tr>

 <tr>
  <td><h4><span>Restaurant Name:</span></h4></td>
  <td><h4>   
    <select name="restaurantId" >
    <option value="">None</option>
{{#each allRestaurants}}
<option value="{{_id}}" data-value="{{name}}">{{name}}</option>
{{/each}}
</select> 
  </h4></td></tr>

  </table>
    
    <input type="hidden" name="name" value="{{allRestaurants.name}}">

  <button class="menuButton" type="submit">Create Menu</button>

</form>

</div>
</div>

</body>