
<main>
    
<div class="container">
    <div class="mainContent">
        <div class="intro">Find restaurants near you that match what you want to Pay and Eat!</div>

        <div class="restaurantLogos1">
        <a href="/restaurant">
        <img src="https://productimages.nimbledeals.com/gift_card_skin/9ebc5b91d6d4e603b29b7b25bf1141_1559613082913"></a>
        

        <a href="/restaurant">
        <img src="https://www.nrn.com/sites/nrn.com/files/styles/article_featured_standard/public/uploads/2016/08/applebeeslogo2016_0.gif?itok=XOqiz0Oh"></a>
        

        <a href="/restaurant">
        <img src="https://southernstatesinsurance.com/wp-content/uploads/2012/03/Landmark-Sign.jpg"></a>
        


        <a href="/restaurant">
        <img src="http://bonesrestaurant.com/staging/wp-content/uploads/2019/02/bones_logo.png"></a>
        

        <a href="/restaurant">
        <img src="https://caitstrides.files.wordpress.com/2012/03/photo-14.jpg"></a>
        

        </div>

        
        <button class="getStarted"> <a href="/restaurant">Get Started </a></button>

        <div class="restaurantLogos2">
                   
        <a href="/restaurant">
        <img src="https://productimages.nimbledeals.com/gift_card_skin/9ebc5b91d6d4e603b29b7b25bf1141_1559613082913"></a>
        

        <a href="/restaurant">
        <img src="https://www.nrn.com/sites/nrn.com/files/styles/article_featured_standard/public/uploads/2016/08/applebeeslogo2016_0.gif?itok=XOqiz0Oh"></a>
        

        <a href="/restaurant">
        <img src="https://southernstatesinsurance.com/wp-content/uploads/2012/03/Landmark-Sign.jpg"></a>
        


        <a href="/restaurant">
        <img src="http://bonesrestaurant.com/staging/wp-content/uploads/2019/02/bones_logo.png"></a>
        

        <a href="/restaurant">
        <img src="https://caitstrides.files.wordpress.com/2012/03/photo-14.jpg"></a>
        </div>

        <div class="slogan">Go Out And Know Exactly What You're Paying Everytime</div>

        <div class="exampleRestaurants">
            <div class="tableHeader">Restaurants Near You!</div>
            <table>
                <tr>
                    <th>Restaurant</th>
                    <th>Price Range</th>
                    <th>Open?</th>
                    <th>Rating</th>
                    <th>Address</th>
                </tr>
                <tr>
                    <td><img src="https://productimages.nimbledeals.com/gift_card_skin/9ebc5b91d6d4e603b29b7b25bf1141_1559613082913"></td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
                   <tr>
                    <td><img src="https://southernstatesinsurance.com/wp-content/uploads/2012/03/Landmark-Sign.jpg"></td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
                   <tr>
                    <td><img src="https://southernstatesinsurance.com/wp-content/uploads/2012/03/Landmark-Sign.jpg"></td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
                   <tr>
                    <td><img src="https://southernstatesinsurance.com/wp-content/uploads/2012/03/Landmark-Sign.jpg"></td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
                   <tr>
                    <td><img src="https://southernstatesinsurance.com/wp-content/uploads/2012/03/Landmark-Sign.jpg"></td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
            </table>
   
        </div>
        </div>

<div class="testimonials">
    <div class="border">
        <h2 class="testimonialsHeader">Hear from some of our Users!</h2>
    <img src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
    <h2 class="person">Karen</h2>

    <p> 
    I had got to the point where I didn't like exploring different restaurants in Atlanta just because of the random price range and the embrassment of walking out because of it. Now I eat my way everytime at what I can afford!
    </p>
    
    <h4 class="story"><a href="#">Read Their Story</a></h4>


    <img src="https://images.pexels.com/photos/941693/pexels-photo-941693.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
    <h2 class="person">John</h2>
    <p>
    Dating in Atlanta is tough cause you never know how much you're going to spend on a night out!!! But now I can check places in advance and be a real lady's man without spending more than my comfort zone. I eat my way on every date now!
    </p>

    <h4 class="story"><a href="#">Read Their Story</a></h4>


      <img src="https://images.pexels.com/photos/1212984/pexels-photo-1212984.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
    <h2 class="person">Alex</h2>
    <p>
    I love eating out since I'm not the best cook at home but sometimes I'll try out a new place and spend 3 times what I was expecting. Knowing in advance lets me know the best places to eat without wasting my time and enery. Only eating my way from now on!
    </p>

    <h4 class="story"><a href="#">Read Their Story</a></h4>


</div>
</div>
</div>


   
</main>

{{!-- Table with a bunch of restaurants below --}}