
<main>
    
<div class="container">
    <div class="mainContent">
        <div class="intro">Find restaurants near you that match what you want to Pay and Eat!</div>

        <div class="restaurantLogos1">
        <a href="/restaurant">
        <img src="https://productimages.nimbledeals.com/gift_card_skin/9ebc5b91d6d4e603b29b7b25bf1141_1559613082913"></a>
        

        <a href="/restaurant">
        <img src="https://www.nrn.com/sites/nrn.com/files/styles/article_featured_standard/public/uploads/2016/08/applebeeslogo2016_0.gif?itok=XOqiz0Oh"></a>
        

        <a href="/restaurant">
        <img src="https://southernstatesinsurance.com/wp-content/uploads/2012/03/Landmark-Sign.jpg"></a>
        


        <a href="/restaurant">
        <img src="http://bonesrestaurant.com/staging/wp-content/uploads/2019/02/bones_logo.png"></a>
        

        <a href="/restaurant">
        <img src="https://caitstrides.files.wordpress.com/2012/03/photo-14.jpg"></a>
        

        </div>

        
        <button class="getStartedRestaurants"> <a href="/restaurant">View All Restaurants </a></button>

        <div class="restaurantLogos2">
                   
        <a href="/restaurant">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUliLBcSDOfNc2vY4_JiVx-Aiq4ikj_yHtsPTCU0d01wTVh0HDcg&s"></a>
        

        <a href="/restaurant">
        <img src="https://image.dynamixse.com/cdno/n/webp.q80.png-lossy-85/https://dynamix-cdn.s3.amazonaws.com/raysrestaurants/raysrestaurants_734664214.JPG"></a>
        

        <a href="/restaurant">
        <img src="https://shop-logos.imgix.net/shops/1161/original/1161.png?auto=compress&auto=format"></a>
        


        <a href="/restaurant">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBQVGa4QaqkXQGkdt_k3jeRgQokimgTPeLYbTXmE6o5xrZqS4o&s"></a>
        

        <a href="/restaurant">
        <img src="https://i1.wp.com/www.foodiebuddha.com/wp-content/uploads/2015/03/brushstroke-sushi-izakaya-logo-e1425592212652.jpg?ssl=1"></a>
        </div>

        <div class="slogan">Go Out And Know Exactly What You're Paying Everytime</div>

        <button class="getStartedItems"> <a href="/item">View All Menus</a></button>


        <div class="exampleRestaurants">
            <div class="tableHeader">Restaurants Near You!</div>
            <table class="restaurantTable">
                <tr>
                    <th></th>
                    <th>Restaurant</th>
                    <th>Price Range</th>
                    <th>Open?</th>
                    <th>Rating</th>
                    <th>Address</th>
                </tr>
                <tr>
                    <td><img src="https://productimages.nimbledeals.com/gift_card_skin/9ebc5b91d6d4e603b29b7b25bf1141_1559613082913"></td>
                    <td>Red Lobster</td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
                   <tr>
                    <td><img src="https://southernstatesinsurance.com/wp-content/uploads/2012/03/Landmark-Sign.jpg"></td>
                    <td>Landmark Diner</td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
                   <tr>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQwx_HUAMcWdtNjyKJdP11qKUIrOm9PkwROPqvd3loWN-c7fyv&s"></td>
                    <td>Pappadeaux</td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
                   <tr>
                    <td><img src="https://pbs.twimg.com/profile_images/378800000375221589/7290d08abd6044de169227b626cc0519.jpeg"></td>
                    <td>Cuts Steakhouse</td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
                   <tr>
                    <td><img src="https://cdn2.atlantamagazine.com/wp-content/uploads/sites/4/2015/07/marcel_logo_boxer.jpg"></td>
                    <td>Marcel</td>
                    <td>High</td>
                    <td>Open</td>
                    <td>4/5</td>
                    <td>691 Evernoon Drive</td>
                </tr>
            </table>

        </div>

             <button class="getStartedItems"> <a href="/menu">View All Items</a></button>

        </div>

<div class="testimonials">
    <div class="border">
        <h2 class="testimonialsHeader">Hear from some of our Users!</h2>
    <img src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
    <h2 class="person">Karen</h2>

    <p> 
    I had got to the point where I didn't like exploring different restaurants in Atlanta just because of the random price range and the embrassment of walking out because of it. Now I eat my way everytime at what I can afford!
    </p>
    
    <h4 class="story"><a href="#">Read Their Story</a></h4>


    <img src="https://images.pexels.com/photos/941693/pexels-photo-941693.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
    <h2 class="person">John</h2>
    <p>
    Dating in Atlanta is tough cause you never know how much you're going to spend on a night out!!! But now I can check places in advance and be a real lady's man without spending more than my comfort zone. I eat my way on every date now!
    </p>

    <h4 class="story"><a href="#">Read Their Story</a></h4>


      <img src="https://images.pexels.com/photos/1212984/pexels-photo-1212984.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
    <h2 class="person">Alex</h2>
    <p>
    I love eating out since I'm not the best cook at home but sometimes I'll try out a new place and spend 3 times what I was expecting. Knowing in advance lets me know the best places to eat without wasting my time and enery. Only eating my way from now on!
    </p>

    <h4 class="story"><a href="#">Read Their Story</a></h4>


</div>
</div>
</div>


   
</main>

{{!-- Table with a bunch of restaurants below --}}