<header>
    <button>MPay WEat</button>
    <nav>
        <li>
            <a href="/restaurant">
            <button>All restaurants</button>
            </a>
        </li>
        <li>
            {{!-- FindbyName funcitonality  --}}
            <button>Find a restaurant</button>
        </li>
        <li>
            {{!-- Price Range funcitonality --}}
            <button>Only this price range</button>
        </li>
    </nav>
</header>

<main>
    <a href="/restaurant/new">
    <button>Create new Restaurant</button>
    </a>
</main>

{{!-- Table with a bunch of restaurants below --}}